html {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-top: 60px;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  contain: content;
  padding-bottom: 64px;
}

header .hamburger {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 50px;
  -webkit-transform: translateX(10px) translateY(10px);
          transform: translateX(10px) translateY(10px);
  cursor: pointer;
}

header .hamburger__linija {
  height: 4px;
  background-color: black;
}

@media screen and (min-width: 1024px) {
  header .hamburger {
    display: none;
  }
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background-color: whitesmoke;
  border-bottom: 1px #aeaeae solid;
  height: 0;
}

@media screen and (min-width: 1024px) {
  header .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 40px;
  }
}

header .nav .nav__item {
  display: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: large;
  text-decoration: none;
  color: black;
}

header .nav .nav__item:hover {
  color: orange;
}

@media screen and (min-width: 1024px) {
  header .nav .nav__item {
    display: block;
  }
}

footer {
  background-color: whitesmoke;
  border-top: 1px #aeaeae solid;
  text-align: center;
}

h1 {
  text-align: center;
}

.pozdravna-poruka {
  text-align: center;
}

.forma-podaci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2px auto;
  padding: 30px 40px;
  gap: 10px;
  background-color: #fafafa;
  border-radius: 20px;
}

@media screen and (min-width: 576px) {
  .forma-podaci {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    max-width: 400px;
  }
}

.forma-podaci label {
  padding-top: 4px;
}

.forma-podaci input {
  background-color: white;
  border-radius: 5px;
  height: 25px;
}

.forma-podaci input:placeholder-shown {
  background-color: #ebebeb;
}

.forma-podaci textarea {
  background-color: white;
  border-radius: 5px;
  height: 25px;
  min-width: 100%;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forma-podaci textarea:placeholder-shown {
  background-color: #ebebeb;
}

@media screen and (min-width: 576px) {
  .forma-podaci textarea {
    min-width: 250px;
    max-width: 300px;
  }
}

.forma-podaci button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  height: 40px;
}

.forma-podaci .error {
  color: red;
  text-align: left;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.forma-podaci .error:empty {
  display: none;
}

.forma-podaci .info {
  font-style: italic;
  color: darkblue;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  background-color: lightblue;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.objave {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.objave__nova-objava {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 3em;
  font-size: medium;
  background-color: lightgreen;
}

.objave__nova-objava:hover {
  background-color: green;
  color: white;
}

.forum-card {
  border: 1px grey solid;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-bottom: 15px;
  margin: auto;
  min-width: 90%;
  max-width: 400px;
}

@media screen and (min-width: 576px) {
  .forum-card {
    min-width: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .forum-card {
    min-width: 500px;
    max-width: 500px;
  }
}

.forum-card__zaglavlje {
  text-align: center;
  background-color: lightblue;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0;
}

.forum-card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 10px;
}

.forum-card__autor {
  font-weight: 1000;
}

.forum-card__broj-komentara {
  font-weight: 1000;
}

.forum-card__detaljnije {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.forum-card__detaljnije:hover {
  background-color: lightblue;
}

.komentari {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.komentar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 90%;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 16px 10px;
}

.komentar__autor {
  font-weight: 1000;
}

.komentar:nth-of-type(2n) {
  text-align: right;
}

@media screen and (min-width: 576px) {
  .komentar {
    max-width: 450px;
  }
}

.separator {
  width: 90%;
  background-color: grey;
  height: 2px;
}

@media screen and (min-width: 576px) {
  .separator {
    max-width: 420px;
  }
}

.unos-komentara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.unos-komentara__tekst {
  background-color: white;
  border-radius: 5px;
  height: 25px;
  min-width: 100%;
  max-width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 4em;
}

.unos-komentara__tekst:placeholder-shown {
  background-color: #ebebeb;
}

@media screen and (min-width: 576px) {
  .unos-komentara__tekst {
    min-width: 250px;
    max-width: 300px;
  }
}

@media screen and (min-width: 576px) {
  .unos-komentara__tekst {
    min-width: 400px;
    max-width: 450px;
  }
}

.unos-komentara__objavi {
  width: 200px;
  height: 2em;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  height: 2em;
}

.unos-komentara__objavi:hover {
  background-color: lightblue;
}
/*# sourceMappingURL=main.css.map */