$tablet: "min-width: 576px";
$desktop: "min-width: 1024px";

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

main {
    flex: 1 0 auto;
    margin-top: 60px;
    display: block;
    height: fit-content;
    contain: content;
    padding-bottom: 64px;
}

header {

    .hamburger {
        position: absolute;

        display: flex;
        flex-direction: column;
        gap: 10px;

        width: 50px;

        transform: translateX(10px) translateY(10px);

        cursor: pointer;

        &__linija {
            height: 4px;
            background-color: black;
        }

        @media screen and ($desktop) {
            display: none;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        gap: 5px;

        transition: all 0.3s linear;

        background-color: rgb(245, 245, 245);
        border-bottom: 1px #aeaeae solid;
        height: 0;

        @media screen and ($desktop) {
            flex-direction: row;
            height: 40px;
        }

        .nav__item {
            display: none;

            transition: all 0.3s linear;

            font-size: large;
            text-decoration: none;

            color: black;

            &:hover {
                color: orange;
            }

            @media screen and ($desktop) {
                display: block;
            }
        }
    }
}

footer {
    background-color: rgb(245, 245, 245);
    border-top: 1px #aeaeae solid;
    text-align: center;
}

h1 {
    text-align: center;
}

@import "./index";
@import "./forma";
@import "./forum-card";